Ежедневная рассылка от Blog-Digest.test!
===============================================
<% @posts.each do |post| %>
  <%= post.title %>
  Читать по ссылке: <%= link_to 'Читать...', post %>
<% end %>

<p>
  Hi <%= @user.email %>
</p>


Хорошего дня!

С уважением, команда Blog-Digest.test