<h1>Ежедневная рассылка от Blog-Digest.test!</h1>

<% @posts.each do |post| %>
  <%= post.title %>
  Читать по ссылке: <%= link_to 'Читать...', post %>
<% end %>

<p>
  Hi <%= @user.email %>
</p>

<br>
<p>Хорошего дня!</p>
<br>
<i>С уважением, команда Blog-Digest.test</i>

<hr>
<p>
  Отписаться | На сайт
</p>
