| Добро пожаловать на BlogDigest.test! =============================================== Вы успешно зарегисрировались на Blog-Digest.test, Ваш логин: 
= @user.email
| . Чтобы зайти на сайт перейдите по ссылке: 
= link_to 'Добро пожаловать!', user_session_url
|  Спасибо, что присоединились к нам и хорошег дня! 
