<h1>Добро пожаловать на Kit-Blog!</h1>
<p>
  Вы успешно зарегисрировались на Kit-Blog,
  Ваш логин: <%= @user.email %>.<br>
</p>
<p>
  Чтобы зайти на сайт перейдите по ссылке: <%= link_to 'Добро пожаловать!', user_session_url %>
</p>
<p>Спасибо, что присоединились к нам и хорошег дня!</p>
