<li>
  <ol class="posts">
    <% @post.comments.each do |comment| %>
      <li>
        <article class="article-container-full">
          <%=  comment.username%>
          <hr>
          <%= comment.content %>
          <hr>
          <p>
            <%= button_to "Delete Comment", [@post ,comment], :confirm => "Are you sure?", :method => :delete%>
          </p>
        </article>
        <br>
      </li>
      </ol>
    <% end %>
    </li>