<% if @comments.any? %>
  <h3>Все комментарии</h3>
  <% @post.comments.each do |comments| %>
    <div class="alert alert-light">
      <p><strong><%=comments.username  %></strong>: <%= comments.content %></p>
    </div>

        <%= link_to 'Редактировать комментарий', edit_post_comment_path(@post, @comments), :class => 'btn btn-success' %>

        <%= button_to 'Удалить комментарий', post_comment_path(@post, comments),
                       :method => :delete,
                       data: {confirm: 'Are you sure?'},
                       :class => 'btn btn-danger' %>

  <% end %>
<% end %>