<%= form_with model: [@post, @comment] do |form| %>
    <div class="form-floating mb-4">
      <%= form.text_area :content, :class => 'form-control', :id => "floatingTextarea", :style => "height: 200px" %>
      <label class="form-label" for="floatingTextarea">Текст комментария</label>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <%= form.submit "Сохранить", :class => 'btn btn-outline-warning pull-right' %>
      <%= link_to "Назад", post_path(@post), :class => 'btn btn-outline-dark pull-left' %>
    </div>

  <% end %>


