.panel-body
  = form_with model: [@post, @comment] do |form|
    .field.form-group
      = form.text_area :content, :rows => 3, :class => 'form-control'
    br
    .things-in-a-line
      .actions
        = form.submit "Сохранить", :class => 'btn btn-success pull-right'
      br
      .col-sm-2.col-md-1
        = link_to "Назад", post_path(@post), :class => 'btn btn-primary pull-left'
    - end # loop
