
<h1>Редактировать Комментарий</h1>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1">
    <%= render 'comments/edit', post: @post, comment: @comment%>
  </div>
</div>






