<div class="row">
  <div class="col-sm-5 mt-5 mx-auto col-md-3 col-md-offset-5">
    <h2>Авторизация</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control', :id => "floatingInput",
                          :placeholder => "name@example.com" %>
        <label for="floatingInput">Почта</label><br>
      </div>
      <div class="form-floating">
        <%= f.password_field :password, autocomplete: "current-password", :class => 'form-control',
                             :id => "floatingPassword",
                             :placeholder => "Password" %>
        <label for="floatingPassword">Пароль</label><br>
      </div>
      <%= f.submit "Войти", :class => 'w-100 btn  btn-success' %>
    <% end %>
  </div>
</div>










