<div class="row">
  <div class="col-sm-8 col-sm-offset-1 col-md-7 col-md-offset-2">
    <h2><%= @post.title%></h2>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div  class="col-sm-8 col-sm-offset-1 col-md-7 col-md-offset-2">
    <article>
      <p class="text-justify">
        <%= @post.content %>
      </p>
    </article>

    <p> Дата публикации: <%= @post.created_at.strftime("%d.%m.%Y %H:%M") %></p>

  </div>
</div>