.row
  .col-sm-8.col-sm-offset-1.col-md-7.col-md-offset-2
    h2
      = @post.title
.row
  hr
.row
  .col-sm-8.col-sm-offset-1.col-md-7.col-md-offset-2
    article
      p.text-justify
        = @post.content
    p
      |  Дата публикации: 
      = @post.created_at.strftime("%d.%m.%Y %H:%M")
